# Config Files
notebooks/orchestrateur-emploi.ipynb
content/drive/MyDrive/Elexxion/notebooks/orchestrateur-emploi.ipynb

# System Files
.DS_Store
Thumbs.db

# Notebooks Checkpoints
.ipynb_checkpoints/

# Folders
association/parquet/*
association/valid/*
crime/parquet/*
dbt/*
emploi/data/
emploi/metadata/
