# .gitignore

# Ignore les données
emploi/datas/
emploi/metadatas/
emploi/parquets/
emploi/raw_parquets/
emploi/currated_parquets/
emploi/clean_parquets/

notebooks/orchestrateur-emploi.ipynb
content/drive/MyDrive/Elexxion/notebooks/orchestrateur-emploi.ipynb

# Ignore les fichiers système
.DS_Store
Thumbs.db

# Ignore les checkpoints de notebooks
.ipynb_checkpoints/